* {
    font-family: 'Open Sans', sans-serif;
}
#button {
    background-color: white;
    border: none;
}

#header-jumbotron {
    background-color: rgba(255, 161, 30, 0.00);
    color: white;
}

#standout{
    background-color: #66c7ff;
    color: white;
    border: 5px solid gray;
    border-radius: 2px;
}

#learn-more-cookie {
    right: 5px;
}

.seattle-background {
    background-image: url("seattle-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: #333333;
}

article {
    width: 80%;
    min-width: 350px;
    margin: 0 auto;
}

.ghost-btn-mathemacure {
    padding: 5px;
    background-color: rgba(0,0,0,0);
    color:  #1171ff;
    border: 2px solid #1171ff;
    border-radius: 3px;}
.ghost-btn-mathemacure:hover {
    padding: 5px;
    background-color:  #1171ff;
    color: white;
    border: 2px solid #1171ff;
    border-radius: 3px;
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
/*

    dark color : #0059b3
  light color : #1171ff
    */
.btn-mathemacure {
    background-color: #1171ff;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
    color: white;
    padding: 10px;
    transition: background-color 200ms;
}

#pointer-hover:hover {
    cursor: pointer;
}

.ghost-btn {
    color: white;
    border-radius: 5px;
    background-color: rgba(0,0,0,0);
    border: 2px solid white;
    padding: 10px;
    transition: background-color 200ms, color 200ms;

}
.ghost-btn:hover {
    color: black;
    background-color: white;
}
.btn-mathemacure:hover {
    background-color: #3399ff;
    color: white;
}
.btn-mathemacure[id=add_card][disabled]:hover {
    background-color: white;
    border: 2px solid black;
    color: gray;
    border-radius: 5px;
    padding: 10px;
}

/*#cookie-footer {
    position: fixed;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.81);
    color: white;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    padding: 10px;
    border-radius: 3px;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(8, 5, 22, 0.86);
    left: 5px;
}*/
#close-cookie-footer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255,0,0,0.3);
    color: white;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
}#close-cookie-footer:hover {
    position: absolute;
    top: 0;
    right: 0;
    transition: background-color 0.2s;
    background-color: rgba(255,0,0,1);
    color: white;
    width: 35px;
    height: 35px;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
}
#reverse {
    -webkit-transform: scale(-1, 1);
    -moz-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
#home {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    height: 100vh;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#features {
    background-color: white;
    color: black;
    height: 100vh;
}
.jumbotron{
    background-color: rgba(0,0,0,0);
}
.col-md-4 {
    padding-bottom: 50px;
    color: white;
}
a {
    color: black;
}
@media (hover:hover) {
a:hover {
    text-decoration: none;
}
}

pre.license{
    background-color: #e3e3e3;
    padding: 20px;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
    text-align: center;
}
.card {
    margin-bottom: 10px;
    width: 97%;
}
button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}
button:disabled {
    background-color: white;
    color: gray;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}
.close-card {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: red;
    width: 30px;
    height: 30px;
    transition: background-color 0.2s ease;
    text-align: center;
    color: white;
}

.close-card:hover{
    background-color: red;
    cursor: pointer;
}
.rotate {
    writing-mode:vertical-rl;
}
.allow {
    text-decoration: underline;
    color: blue;
}
.footer-link {
    padding-left: 20px;
}
#footer {
    padding: 10px;
    margin: 10px;
    background-color: #e3e3e3;
}

#buttoner {
    color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}

.col-sm-6 {
    padding-bottom: 50px;
}
