* {
  font-family: 'Open Sans', sans-serif;
}
#home {
  background-color: white;
  color: black;
  height: 100vh;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#features {
  background-color: white;
  color: black;
  height: 100vh;
}
.jumbotron {
  background-color: transparent;
}
.col-md-4 {
  padding-bottom: 50px;
  color: white;
}
a {
  color: black;
}
@media (hover:hover) {
a:hover {
  text-decoration: none;
}
}
pre.license{
    background-color: #e3e3e3;
    padding: 20px;
    border: 2px solid #808080;
    border-radius: 5px;
    margin: 10px;
}
.form-control {
  width: 200px;
  text-align: center;
}
.form-group {
  justify-content: center;
}
#add_card {
  background-color: white;
  color: black;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
}
