* {
  font-family: 'Open Sans', sans-serif;
}






@page {
    size: letter portrait;
}

@media only screen {
    html, body{
    height: 100%;
    background-color: gray;
    }
pre {
     font-family: 'Open Sans', sans-serif;
}

    #wrapper {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    background-color: white;
    background-color: white;
  text-align: center;
  position: relative;
  min-height: 100%;
    box-shadow: 20px 20px 10px #474747;
    }
}

@media print {
    pre {
        border-style: none;
        font-family: 'Open Sans', sans-serif;
       }
 

}



footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}