* {
  font-family: 'Open Sans', sans-serif;
}



html, body{
    height: 100%;
    background-color: gray;
}


@page {
    size: letter portrait;
}


#wrapper {
    width: 8.5in;
    height: 11in;
    margin: 0 auto;
    background-color: white;
}
pre {
     font-family: 'Open Sans', sans-serif;
}

#wrapper {
  text-align: center;
  position: relative;
  min-height: 100%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}